.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  /* background-image: url("/images/yopa.jpeg"); */
  /* background: rgba(58, 58, 58, 0.8); */
  backdrop-filter: blur(8px);
  /* backdrop-filter: blur(8px); */
}

.card {
  width: 900px;
  min-height: 500px;
  display: grid;
  grid-template-columns: 7fr 5fr;
  background: white;
  border-radius: 20px;
  /* overflow: hidden; */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.left {
  flex: 1;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #555;
  margin-bottom: 20px;
}

.desc {
  color: #444;
  line-height: 1.6;
  margin-bottom: 25px;
}

.button {
  width: fit-content;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  background: #1f7a5c;
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 25px;
  transition: 0.3s;
}

.button:hover {
  background: #145c43;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  color: #333;
}

.right {
  flex: 1;
  position: relative;
  transform: scale(1.01);
  border-radius: 5px;
    overflow: hidden;
}

.image {
  object-fit: cover;
  
}

.profile2{
    display: none;
    width: 100%;
  }

@media (max-width: 768px) {
  .container {
    /* height: auto; */
    padding: 20px;
  }

  .card {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr 1fr; */
    /* direction: rtl; */
    height: auto;
    align-items: center;
      /* padding-top: 100px; */
  }
  
  .right {
    display: none;
  }

  .profile2{
    display: flex;
    position: absolute;
    background-color: #1f7a5c;
    width: auto;
    margin: auto;
    height: 250px;
    width: 250px;
    justify-content: center;
    /* width: 150px; */
    overflow: hidden;
    /* object-fit: cover; */
     margin: 0 auto;
     margin-top: -200px;
     margin-bottom: 100px;
    border-radius: 50%;

  }

  .profile2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* position: absolute; */
     /* height: 150px; */

    /* margin-bottom: 1000px; */
  }
}