/* @import "tailwindcss"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  height: 100vh;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  /* width: 110vw; */
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
  /* backdrop-filter: blur(8px); */
  /* background-position: center; */
  /* background-size: cover; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
