.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: #f5f6fa; */
}

.container {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  padding: 30px;
  width: 90%;
  max-width: 400px;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
    font-family: inherit;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

.button {
    font-family: inherit;
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background-color: #0059c1;
}

.error {
  color: red;
  font-size: 13px;
}

.success {
  color: green;
  font-size: 13px;
}

.linkText {
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
}

.link {
  color: #0070f3;
  text-decoration: none;
}
